export KUBECONFIG=$HOME/projects/personal/terraform-homelab-k8s/foo-tf-config
# If using Minio backend then set these
export MINIO_ACCESS_KEY=setme
export MINIO_SECRET_ACCESS=setmetoo
export MINIO_ENDPOINT=http://minio-ip:api-port